


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    box-sizing: border-box;
    color: black;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#artistas .artistas {
    border-radius: 2px;
}

#artistas .artistas:hover {
    border: 2px solid transparent;
}

/*#estudio .carousel-img {
    filter: grayscale(1);
}*/
/********************sidebar********************/
.content{
    height: 120px;
    background: transparent;
    display: flex;
    padding: 0 20px;
    position: absolute;

    z-index: 10;
}

.menu-toggle{
    display: none;
    margin-left: auto;
    color: #fff;
    line-height: 120px; /*alinea el texto verticalmente*/
    font-size: 25px;
    cursor: pointer;
    right: 20px;
}

#menu{
    position: relative;
    left: 440px;
}

#menu .ul-navbar li{
    display: inline-block;
}

#menu .ul-navbar li a{
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    line-height: 120px;
    padding: 0 8px;
    text-transform: uppercase;
    transition: .2s;
}

#menu .ul-navbar li a:hover{
    transform: scale(1.2);
    color: rgb(228, 228, 228);
}

.ancla-2::after, .ancla-1:hover::after {
    transform: scaleX(1);
}

.ancla-1::after {
    display: block;
    right: 10px;
    left: 10px;
    height: 1px;
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform .2s cubic-bezier(.2,0,.4,1);
    background-color: currentColor;
}

.ancla-1::after, .ancla-1::before {
    content: "";
    position: absolute;
    bottom: 35px;
}

.show {
    height: 305px !important;
}
/***********************sidebar end*********************************/

.bloque {
    width: 350px;
    padding: 25px;
    position: relative;
    background:black;
    left: 500px;
    top: 110px;
}

.absolute {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primer-titulo {
    font-size: 80px;
    font-weight: 900;
    z-index: 100;
    color: #fff;
    margin-bottom: 30px;
}

.primer-titulo::after {
    display: block;
    width: 30%;
    height: 10px;
    content: "";
    margin: auto;
    background: #fff;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(5, 5, 5, 0.418);
}

.fondo-traslucido {
    background-color: white;
    margin-bottom: 3.125rem;
    min-width: 100%;
    background-size: contain;
}

.fondo-traslucido-2 {
    background-color: black;
    margin-bottom: 3.125rem;
    min-width: 100%;
    background-size: contain;
}

.carousel {
    min-height: 500px;
    margin: 2.5rem 0;
}

.contact-wrapper {
    position: absolute;
    z-index: 10;
}

.navbar-brand {
    background-color: black;
}

.img-bg {
    background-image: url(../img/fondo2.jpg);
    background-size: auto;
}

.icon {
    color: white;
    position: absolute;
    bottom: 40px;
    right: 268px;
}

.icon-2 {
    color: white;
    position: absolute;
    right: 268px;
    bottom: auto;
}

/************************accordion************************/
.accordion {
    width: 100%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 90px 0;
    background: #fefffa;
    padding: 0 30px;
}

.question-accordion {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    background: #fefffa;
    color: #646464;
    margin: 0;
    cursor: pointer;
}

.paragraph-accordion {
    max-height: 800px;
    margin-top: 14px;
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    z-index: 2;
}

.question-box {
    list-style: none;
    padding: 0;
    margin: 0;
}

.question-box li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
}

.question-box li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.question-box li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.question-box li:nth-of-type(3) {
    animation-delay: 1s;
}

.question-box li:nth-of-type {
    padding-bottom: 0;
}

.question-box li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.question-box li i::before,
.question-box li i::after {
    content: "";
    position: absolute;
    background: #444444;
    width: 3px;
    height: 9px;
}

.question-box li i::before {
    transform: translate(-2px, 0) rotate(45deg);
}

.question-box li i::after {
    transform: translate(2px, 0) rotate(-45deg);
}

.paragraph-accordion,
.question-box li i::before,
.question-box li i::after {
    transition: all 0.25s ease-in-out;
}

.question-box li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.question-box li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.question-box li input[type=checkbox]:checked ~ i::before{
    transform: translate(2px, 0) rotate(45deg);
}

.question-box li input[type=checkbox]:checked ~ i::after{
    transform: translate(-2px, 0) rotate(-45deg);
}

/***************accordion end*********************/

/****gotop****/
.go-top-container {
    position: fixed;
    bottom: 40px;
    left: 988px;
    width: 50px;
    height: 50px;
    z-index: -1;
}

.go-top-button {
    width: 0;
    height: 0;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.go-top-button i {
    position: absolute;
    font-size: 20px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgb(155, 155, 155);
    transition: .2s;
}

.show2 {
    z-index: 10;
}

.show2 .go-top-button {
    animation: popup .3s ease-in-out;
    width: 50px;
    height: 50px;
    z-index: 11;
}

.show2 i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 70px;
        height: 70px;
    }

    100% {
        width: 50px;
        height: 50px;
    }
}

/***************gallery**************************/
#trabajos .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#trabajos img {
    width: 100%;
    height: 300px;
    border-radius: 2px;
    filter: grayscale(1);
}

#trabajos img:hover {
    border: 5px solid #f7f7f7;
    filter: grayscale(0);
}

/***************end gallery*************/

#contacto .info ul {
    color: white;
    list-style: none;
    position: relative;
    padding: 13px 0 13px 50px;;
}

#contacto .info ul li {
    margin: 0;
    list-style: none;
    position: relative;
}

#contacto .info ul li .fact {
    position: relative;
    top: 6px;
}

#contacto .info ul li .fact .information{
    text-decoration: none;
    color: white;
}

footer {
    background-color: black;
}

#contacto iframe {
    filter: grayscale(1);
}

body {
    min-height: 100vh;
    background-color: #fafafa;
}

@media screen and (max-width:2960px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 650px;
        top: 110px;
    }
}

@media screen and (max-width:2560px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 720px;
        top: 110px;
    }
}

@media screen and (max-width:2046px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 650px;
        top: 110px;
    }
}

@media screen and (max-width:1440px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 700px;
        top: 110px;
    }
}

@media screen and (max-width:1334px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 680px;
        top: 110px;
    }
}

@media screen and (max-width:1242px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        top: 110px;
        left: 650px;
    }
}


@media screen and (max-width:1125px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        top: 110px;
        left: 500px;
    }
}

@media screen and (max-width:1080px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 530px;
        top: 110px;
    }
}

@media screen and (max-width:1024px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 500px;
        top: 110px;
    }
}

@media screen and (max-width:800px) {
    h1 {
        font-size: 50px;
    }

    .contact-wrapper {
        position: relative;
    }

    .bloque {
        width: 100%;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .icon-mobile {
        position: relative;
        right: 340px;
    }

    .text-mobile {
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .btn-mobile {
        padding-left: 113px;
    }

    #menu {
        position: relative;
        left: 200px;
    }
}

@media screen and (max-width:720px) {
    .btn-mobile {
        display: none;
    }

    .icon-mobile {
        position: relative;
        right: 160px;
    }
}

@media screen and (max-width:700px){
    .btn-mobile {
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-left: 320px;
    }

    #menu{
        background: transparent;
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
        height: 0;
        /*border: 1px solid #eee;*/
        overflow: hidden;
        transition: .3s ease-out;
    }

    #menu .ul-navbar li{
        display: block;
        text-align: center;
    }

    #menu .ul-navbar li a{
        color: #fff;
        font-size: 20px;
        border-bottom: 1px solid #515151;;
        width: 100%;
        line-height: 75px;
    }

    #menu .ul-navbar li a:hover{
        background: #5959b8;
    }
    

    .container{
        padding: 10px;
    }
}

@media screen and (max-width:640px) {
    .btn-mobile {
        display: none;
    }

    .primer-titulo {
        font-size: 40px;
    }

    .icon-mobile {
        position: relative;
        right: 170px;
    }
}

@media screen and (max-width:500px) {
    .btn-mobile {
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-left: 280px;
    }

    .primer-titulo {
        font-size: 45px;
    }

    .primer-titulo::after {
        display: none;
    }

    .contact-wrapper {
        position: relative;
    }

    .bloque {
        width: 345px;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .icon-mobile {
        position: relative;
        right: 43px;
    }

    .navbar {
        display: none;
    }

    .carousel {
        position: relative;
    }
}

@media screen and (max-width:480px) {
    .btn-mobile {
        display: none;
    }

    .bloque {
        width: 459px;
    }
    
    .icon-mobile {
        position: relative;
        right: 112px;
    }


}

@media screen and (max-width:425px) {
    .btn-mobile {
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-left: 210px;
    }

    .bloque {
        width: 405px;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 130px;
    }
}

@media screen and (max-width:400px) {
    .btn-mobile {
        display: none;
    }

    .bloque {
        width: 380px;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .icon-mobile {
        position: relative;
        right: 40px;
    }
}

@media screen and (max-width:412px) {
    .btn-mobile {
        display: none;
    }

    .menu-toggle {
        display: block;
        margin-left: 195px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 126px;
    }

    .icon-mobile {
        position: relative;
        right: 51px;
    }

    .bloque {
        width: 392px;
    }    
}

@media screen and (max-width:384px) {
    .btn-mobile {
        display: none;
    }

    .menu-toggle {
        display: block;
        margin-left: 185px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 115px;
    }

    .bloque {
        width: 364px;
    }
    
    .icon-mobile {
        position: relative;
        right: 25px;
    }
}

@media screen and (max-width:375px) {
    .btn-mobile {
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-left: 150px;
    }

    .bloque {
        width: 100%;
    }

    .icon-mobile {
        position: relative;
        left: 10px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 111px;
    }

}

@media screen and (max-width:360px) {
    .btn-mobile {
        display: none;
    }

    .bloque {
        width: 339px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 106px;
    }
}

@media screen and (max-width:320px) {
    .btn-mobile {
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-left: 120px;
    }
    
    .contact-wrapper {
        position: relative;
    }

    .bloque {
        width: 300px;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .icon-mobile {
        position: relative;
        left: 60px;
    }

    .navbar {
        display: none;
    }

    .carousel {
        position: relative;
    }

    .paragraph-carousel {
        position: absolute;
        bottom: 16px;
        right: 5px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 140px;
    }

}

@media screen and (max-width: 280px){ 
    .btn-mobile {
        display: none;
    }

    .menu-toggle {
        display: block;
        margin-left: 80px;
    }

    .bloque {
        width: 259px;
    }    

    .icon-mobile {
        position: relative;
        left: 80px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 170px;
    }
}
