html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    box-sizing: border-box;
    color: black;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#artistas .artistas {
    border-radius: 2px;
}

#artistas .artistas:hover {
    border: 2px solid transparent;
}

.artist {
    margin: 50px
}

.artist-container {
    position: relative;
    left: 88px;
}

.tit-estudio-fondowhite {
    font-size: 50px;
    color: black;
}

/*#estudio .carousel-img {
    filter: grayscale(1);
}*/
/********************sidebar********************/
.content{
    height: 120px;
    background: transparent;
    display: flex;
    padding: 0 20px;
    position: absolute;

    z-index: 10;
}

.menu-toggle{
    display: none;
    margin-left: auto;
    color: #fff;
    line-height: 120px; /*alinea el texto verticalmente*/
    font-size: 25px;
    cursor: pointer;
    right: 20px;
}

#menu{
    position: relative;
    left: 400px;
}

#menu .ul-navbar li{
    display: inline-block;
}

#menu .ul-navbar li a{
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    line-height: 120px;
    padding: 0 8px;
    text-transform: uppercase;
    transition: .2s;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

#menu .ul-navbar li a:hover{
    transform: scale(1.2);
    color: rgb(228, 228, 228);
}

.ancla-2::after, .ancla-1:hover::after {
    transform: scaleX(1);
}

.ancla-1::after {
    display: block;
    right: 10px;
    left: 10px;
    height: 1px;
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform .2s cubic-bezier(.2,0,.4,1);
    background-color: currentColor;
}

.ancla-1::after, .ancla-1::before {
    content: "";
    position: absolute;
    bottom: 35px;
}

.show {
    height: 305px !important;
}
/***********************sidebar end*********************************/

.bloque {
    width: 350px;
    padding: 25px;
    position: relative;
    background:black;
    left: 500px;
    top: 110px;
}

.btn-desktop {
    margin-left: 12px;
}

.btn-hover:hover {
    filter: opacity(.5);
}

.absolute {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primer-titulo {
    font-size: 56px;
    font-weight: 200;
    z-index: 100;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.primer-titulo::after {
    display: block;
    width: 30%;
    height: 2px;
    content: "";
    margin: auto;
    background: #fff;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(5, 5, 5, 0.418);
}

.fondo-traslucido {
    background-color: white;
    margin-bottom: 3.125rem;
    min-width: 100%;
    background-size: contain;
}

.fondo-traslucido-2 {
    background-color: black;
    margin-bottom: 3.125rem;
    min-width: 100%;
    background-size: contain;
    padding-bottom: 1px;
}

.carousel {
    min-height: 500px;
    margin: 2.5rem 0;
}

.contact-wrapper {
    position: absolute;
    z-index: 10;
}

.navbar-brand {
    background-color: black;
}

.img-bg {
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
}

.icon {
    color: white;
    position: absolute;
    bottom: 40px;
    right: 268px;
}

.icon-2 {
    color: white;
    position: absolute;
    right: 268px;
    bottom: auto;
}

.font-size-paragraph {
    font-size: 20px; 
    color: rgb(110, 110, 110);
}

/************************accordion************************/
.accordion {
    width: 100%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 90px 0;
    background: rgba(221, 220, 220, 0.1);
    padding: 0 30px;
}

.question-accordion {
    font-size: 16px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    color: #646464;
    margin: 0;
    cursor: pointer;
}

.paragraph-accordion {
    max-height: 800px;
    margin-top: 14px;
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    z-index: 2;
}

.question-box {
    list-style: none;
    padding: 0;
    margin: 0;
}

.question-box li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
}

.question-box li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.question-box li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.question-box li:nth-of-type(3) {
    animation-delay: 1s;
}

.question-box li:nth-of-type {
    padding-bottom: 0;
}

.question-box li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.question-box li i::before,
.question-box li i::after {
    content: "";
    position: absolute;
    background: #444444;
    width: 3px;
    height: 9px;
}

.question-box li i::before {
    transform: translate(-2px, 0) rotate(45deg);
}

.question-box li i::after {
    transform: translate(2px, 0) rotate(-45deg);
}

.paragraph-accordion,
.question-box li i::before,
.question-box li i::after {
    transition: all 0.25s ease-in-out;
}

.question-box li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 60%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.question-box li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.question-box li input[type=checkbox]:checked ~ i::before{
    transform: translate(2px, 0) rotate(45deg);
}

.question-box li input[type=checkbox]:checked ~ i::after{
    transform: translate(-2px, 0) rotate(-45deg);
}

/***************accordion end*********************/

/****gotop****/
.go-top-container {
    position: fixed;
    bottom: 40px;
    left: 988px;
    width: 50px;
    height: 50px;
    z-index: -1;
}

.go-top-button {
    width: 0;
    height: 0;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.go-top-button i {
    position: absolute;
    font-size: 15px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgb(58, 55, 55);
    transition: .2s;
}

.show2 {
    z-index: 10;
}

.show2 .go-top-button {
    animation: popup .3s ease-in-out;
    width: 50px;
    height: 50px;
    z-index: 11;
}

.show2 i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 70px;
        height: 70px;
    }

    100% {
        width: 50px;
        height: 50px;
    }
}

.nombre-artista {
    color: white; 
    font-size: 50px; 
    font-weight: 600;
}

.tit-estudio-fondoblack {
    font-size: 50px; 
    color: white;
}


/***************gallery**************************/

.my-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

#trabajos .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#trabajos img {
    width: 100%;
    height: 300px;
    border-radius: 2px;
    filter: grayscale(1);
}

#trabajos img:hover {
    border: 5px solid #f7f7f7;
    filter: grayscale(0);
}

/***************end gallery*************/

#contacto .info ul {
    color: white;
    list-style: none;
    position: relative;
    padding: 13px 0 13px 50px;;
}

#contacto .info ul li {
    margin: 0;
    list-style: none;
    position: relative;
}

#contacto .info ul li .fact {
    position: relative;
    top: 6px;
}

#contacto .info ul li .fact .information{
    text-decoration: none;
    color: white;
}

footer {
    background-color: black;
}

#contacto iframe {
    filter: grayscale(1);
}

body {
    min-height: 100vh;
    background-color: #fafafa;
}

@media screen and (max-width:2960px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 650px;
        top: 110px;
    }
}

@media screen and (max-width:2560px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 720px;
        top: 110px;
    }

    .go-top-container {
        position: fixed;
        bottom: 40px;
        left: 1880px;
        width: 50px;
        height: 50px;
        z-index: -1;
    }

    #menu {
        position: relative;
        left: 600px;
    }
}

@media screen and (max-width:2046px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 650px;
        top: 110px;
    }
}

@media screen and (max-width:1440px) {
    .paragraph-carousel {
        font-size: 22px;
    }

    .information {
        font-size: 20px;
    }

    .icon {
        color: white;
        position: absolute;
        bottom: 53px;
        right: 268px;
    }

    .icon-2 {
        color: white;
        position: absolute;
        right: 268px;
        top: 2px;
    }


    .tit-estudio-fondoblack {
        font-size: 70px; 
        color: white;
    }


    .tit-estudio-fondowhite{
        font-size: 70px;
    }

    .text-mobile {
        font-size: 50px;
    }

    .question-accordion {
        font-size: 22px;
    }

    .font-size-paragraph {
        font-size: 28px;
    }

    .profesion-mobile {
        font-size: 30px;
    }

    .font-size-paragraph-artistas {
        font-size: 22px;
    }


    #menu {
        position: relative;
        left: 820px;
    }

    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 950px;
        top: 110px;
    }

    .go-top-container {
        position: fixed;
        bottom: 40px;
        left: 1420px;
        width: 50px;
        height: 50px;
        z-index: 10;
    }

    .font-size-footer{
        font-size: 22px;
    }
}

@media screen and (max-width:1334px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 680px;
        top: 110px;
    }
}

@media screen and (max-width:1280px) {
    #menu {
        position: relative;
        left: 650px;
    }
}


@media screen and (max-width:1242px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        top: 110px;
        left: 650px;
    }
}


@media screen and (max-width:1125px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        top: 110px;
        left: 500px;
    }
}

@media screen and (max-width:1080px) {
    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 530px;
        top: 110px;
    }
}

@media screen and (max-width:1024px) {

    .font-size-paragraph {
        font-size: 22px;
    }

    .question-accordion {
        font-size: 18px;
    }

    .profesion-mobile {
        font-size: 22px;
    }

    .font-size-paragraph-artistas {
        font-size: 17px;
    }


    .tit-estudio-fondowhite {
        font-size: 55px;
    }


    .tit-estudio-fondoblack {
        font-size: 55px;
        color: white;
    }



    .font-size-footer {
        font-size: 20px;
    }

    .paragraph-carousel {
        font-size: 19px;
    }

    .text-mobile {
        font-size: 45px;
    }

    .bloque {
        width: 350px;
        padding: 25px;
        position: relative;
        background: black;
        left: 580px;
        top: 110px;
    }

    #menu {
        position: relative;
        left: 400px;
    }

    .go-top-container {
        position: fixed;
        bottom: 40px;
        left: 1010px;
        width: 50px;
        height: 50px;
        z-index: 10;
    }
}

@media screen and (max-width:800px) {
    h1 {
        font-size: 50px;
    }

    .contact-wrapper {
        position: relative;
    }

    .bloque {
        width: 100%;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .icon-mobile {
        position: relative;
        right: 340px;
    }

    .text-mobile {
        text-align: center;
    }
}

@media screen and (max-width:768px) {

    .primer-titulo {
        font-size: 48px;
    }

    .tit-estudio-fondowhite {
        font-size: 50px;
    }

    .font-size-paragraph {
        font-size: 21px;
    }

    .tit-estudio-fondoblack {
        font-size: 50px;
        color: white;
    }

    .font-size-paragraph-artistas {
        font-size: 17px;
    }

    .profesion-mobile {
        font-size: 22px;
    }

    .question-accordion {
        font-size: 17px;
    }

    .font-size-footer {
        font-size: 19px;
    }

    .artist-container {
        position: relative;
        left: 70px;
    }

    .icon-mobile {
        position: relative;
        right: 420px;
    }

    .btn-mobile {
        padding-left: 113px;
    }

    #menu {
        position: relative;
        left: 160px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 295px;
    }
}

@media screen and (max-width:720px) {
    .btn-mobile {
        display: none;
    }

    .icon-mobile {
        position: relative;
        right: 160px;
    }
}

@media screen and (max-width:700px){
    .btn-mobile {
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-left: 320px;
    }

    #menu{
        background: transparent;
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
        height: 0;
        /*border: 1px solid #eee;*/
        overflow: hidden;
        transition: .3s ease-out;
    }

    #menu .ul-navbar li{
        display: block;
        text-align: center;
    }

    #menu .ul-navbar li a{
        color: #fff;
        font-size: 20px;
        border-bottom: 1px solid #515151;;
        width: 100%;
        line-height: 75px;
    }

    #menu .ul-navbar li a:hover{
        background: #5959b8;
    }
    

    .container{
        padding: 10px;
    }
}

@media screen and (max-width:640px) {
    .btn-mobile {
        display: none;
    }

    .primer-titulo {
        font-size: 40px;
    }

    .icon-mobile {
        position: relative;
        right: 170px;
    }

    .artist-container {
        position: relative;
        left: 0;
    }

    .menu-toggle {
        display: block;
        margin-left: 400px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 530px;
    }

    .icon {
        color: white;
        position: absolute;
        bottom: 53px;
        right: 380px;
    }

    .icon-2 {
        color: white;
        position: absolute;
        right: 380px;
        top: 2px;
    }
}

@media screen and (max-width:600) {
    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 490px;
    }

    .icon {
        color: white;
        position: absolute;
        bottom: 53px;
        left: 125px;
    }

    .icon-2 {
        color: white;
        position: absolute;
        left: 125px;
        top: 2px;
    }
}

@media screen and (max-width:500px) {
    .btn-mobile {
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-left: 280px;
    }

    .primer-titulo {
        font-size: 45px;
    }

    .primer-titulo::after {
        display: none;
    }

    .contact-wrapper {
        position: relative;
    }

    .bloque {
        width: 100%;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .icon-mobile {
        position: relative;
        right: 43px;
    }

    .navbar {
        display: none;
    }

    .carousel {
        position: relative;
    }
}

@media screen and (max-width:480px) {
    .btn-mobile {
        display: none;
    }

    .bloque {
        width: 459px;
    }
    
    .icon-mobile {
        position: relative;
        right: 112px;
    }

    .bloque {
        width: 480px;
    }

    .icon {
        color: white;
        position: absolute;
        bottom: 53px;
        right: 280px;
    }

    .icon-2 {
        color: white;
        position: absolute;
        right: 280px;
        top: 2px;
    }

    .accordion {
        margin: 30px 0;
    }


}

@media screen and (max-width:425px) {
    .primer-titulo {
        font-size: 35px;
    }

    .tit-estudio-fondowhite {
        font-size: 45px;
    }

    .tit-estudio-fondoblack {
        font-size: 45px;
        color: white;
    }

    .nombre-artista {
        color: white;
        font-size: 45px;
        font-weight: 600;
    }

    .profesion-mobile {
        font-size: 20px;
    }

    .font-size-paragraph-artistas {
        font-size: 16px;
    }

    .font-size-paragraph {
        font-size: 17px;
    }
    
    .text-mobile {
        font-size: 45px;
    }

    .information {
        font-size: 16px;
    }

    .icon-mobile {
        position: relative;
        right: 20px;
    }

    .ubi-mobile {
        position: relative;
        right: 20px;
        top: 12px;
    }

    .font-size-footer {
        font-size: 16px;
    }
    
    .question-accordion {
        font-size: 17px;
    }

    .artist-container {
        position: relative;
        left: 0;
    }

    .btn-mobile {
        display: none;
    }

    .btn-gallery {
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-left: 210px;
    }

    .bloque {
        width: 425px;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 325px;
    }

    .icon-mobile {
        position: relative;
        right: 70px;
    }
}

@media screen and (max-width:400px) {
    .btn-mobile {
        display: none;
    }

    .bloque {
        width: 380px;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .icon-mobile {
        position: relative;
        right: 40px;
    }
}

@media screen and (max-width:412px) {
    .accordion{
        margin: 30px 0;
    }
    
    .btn-mobile {
        display: none;
    }

    .menu-toggle {
        display: block;
        margin-left: 195px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 320px;
    }

    .icon-mobile {
        position: relative;
        right: 51px;
    }

    .bloque {
        width: 412px;
    }
    
    .icon {
        color: white;
        position: absolute;
        bottom: 53px;
        left: 10px;
    }

    .icon-2 {
        color: white;
        position: absolute;
        left: 10px;
        top: 2px;
    }
}

@media screen and (max-width:384px) {
    .btn-mobile {
        display: none;
    }

    .menu-toggle {
        display: block;
        margin-left: 185px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 287px;
    }

    .icon {
        color: white;
        position: absolute;
        bottom: 53px;
        right: 250px;
    }

    .icon-2 {
        color: white;
        position: absolute;
        top: 2px;
        right: 250px;
    }

    .bloque {
        width: 364px;
    }
    
    .icon-mobile {
        position: relative;
        right: 25px;
    }
}

@media screen and (max-width:375px) {
    .primer-titulo {
        font-size: 30px;
    }

    .tit-estudio-fondoblack {
        font-size: 45px;
        color: white;
    }

    .nombre-artista {
        color: white;
        font-size: 45px;
        font-weight: 600;
    }

    .font-size-paragraph-artistas {
        font-size: 16px;
    }

    .question-accordion {
        font-size: 16px;
    }

    .text-mobile {
        font-size: 45px;
    }

    .icon {
        color: white;
        position: absolute;
        right: 268px;
    }

    .icon-2 {
        color: white;
        position: absolute;
        right: 268px;
    }

    .ubi-mobile {
        position: relative;
        right: 20px;
        top: 12px;
    }

    .font-size-footer {
        font-size: 16px;
    }

    .information {
        font-size: 16px;
    }
    
    .profesion-mobile {
        font-size: 20px;
    }

    .tit-estudio-fondowhite {
        font-size: 45px;
    }

    .font-size-paragraph {
        font-size: 18px;
    }

    .artist-container {
        position: relative;
        left: 0;
    }


    .font-size-paragraph {
        font-size: 17px;
    }



    .btn-mobile {
        display: none;
    }

    .btn-gallery {
        display: none;
    }

    .menu-toggle{
        display: block;
        margin-left: 150px;
    }

    .bloque {
        width: 100%;
    }

    .icon-mobile {
        position: relative;
        right: 20px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 279px;
    }

}

@media screen and (max-width:360px) {

    .accordion {
        margin: 25px 0;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 260px;
    }

    .bloque {
        width: 360px;
    }

    .icon-mobile {
        position: relative;
        right: 20px;
        bottom: 2px;
    }

    .icon-2 {
        color: white;
        position: absolute;
        right: 250px;
    }


    .icon {
        color: white;
        position: absolute;
        right: 250px;
    }


    .btn-mobile {
        display: none;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 268px;
    }
}

@media screen and (max-width:320px) {

    .accordion {
        margin: 30px 0;
    }

    .icon {
        color: white;
        position: absolute;
        right: 268px;
        bottom: 38px;
    }

    

    .icon-2 {
        color: white;
        position: absolute;
        right: 268px;
    }

    .information {
        font-size: 15px;
    }

    .tit-estudio-fondoblack {
        font-size: 40px;
    }

    .profesion-mobile {
        font-size: 17px;
    }

    .font-size-paragraph-artistas {
        font-size: 15px;
    }

    .font-size-paragraph {
        font-size: 17px;
        color: rgb(110, 110, 110);
    }

    .primer-titulo {
        font-size: 25px;
    }

    .tit-estudio-fondowhite {
        font-size: 40px;
    }

    .artist-container {
        position: relative;
        left: 0;
    }
    
    .btn-mobile {
        display: none;
    }

    .btn-gallery {
        display: none;
    }

    .nombre-artista {
        font-size: 40px;
    }

    .menu-toggle{
        display: block;
        margin-left: 120px;
    }
    
    .contact-wrapper {
        position: relative;
    }

    .bloque {
        width: 320px;
        padding: 25px;
        background: black;
        position: relative;
        left: 0;
        top: 0;
    }

    .icon-mobile {
        position: relative;
        left: 40px;
        bottom: 2px;
    }

    .font-size-footer {
        font-size: 15px;
    }

    .navbar {
        display: none;
    }

    .carousel {
        position: relative;
    }

    .paragraph-carousel {
        position: relative;
        bottom: 16px;
        right: 5px;
        font-size: 15px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 227px;
    }

    .question-accordion {
        font-size: 16px;
    }

    .text-mobile {
        font-size: 40px;
    }

}

@media screen and (max-width: 280px){ 
    .btn-mobile {
        display: none;
    }

    .menu-toggle {
        display: block;
        margin-left: 80px;
    }

    .bloque {
        width: 259px;
    }    

    .icon-mobile {
        position: relative;
        left: 80px;
    }

    .question-box li i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        left: 170px;
    }
}
