
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.absolute {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primer-titulo {
    font-size: 80px;
    font-weight: 900;
    z-index: 100;
    color: #fff;
    margin-bottom: 30px;
}

.primer-titulo::after {
    display: block;
    width: 30%;
    height: 10px;
    content: "";
    margin: auto;
    background: #fff;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(5, 5, 5, 0.418);
}

.fondo-traslucido {
    background-color: white;
    margin-bottom: 3.125rem;
    min-width: 100%;
    background-size: contain;
}

.fondo-traslucido-2 {
    background-color: black;
    margin-bottom: 3.125rem;
    min-width: 100%;
    background-size: contain;
}

.carousel {
    min-height: 500px;
    margin: 2.5rem 0;
}


.navbar-brand {
    background-color: black;
}

.img-bg {
    background-image: url(../img/fondo2.jpg);
    background-size: auto;
}

footer {
    background-color: black;
}

#contacto iframe {
    filter: grayscale(1);
}

body {
    min-height: 100vh;
    background-color: #fafafa;
}